<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationTestscripts">
	<test name="PracticeTests">
		<classes>
			<class name="testcases.PracticeTest">
				<methods>
				
<!--					<include name="verifyTitle"></include>-->
<!--					<include name="verify_popUp"></include>-->
				
				</methods>
			
			</class>
		
		</classes>
	
	</test>


</suite>